BOT_TOKEN=7631768624:AAHdpNFSheVWBIUnLOSkmNCEIhdKpY1SMmM
ADMIN_IDS=7882692915,5632859442
MYSQLHOST=mysql.railway.internal
MYSQLUSER=root
MYSQLPASSWORD=XecQpmzYZlGbZsQyiEtbJQbTusmtrMbz
MYSQLDATABASE=railway
MYSQLPORT=3306